@model FacturaViomatica.Models.DB.Cliente

@{
    ViewData["Title"] = "Facturación";
    var total = ViewBag.FacturaDetalles.Count;
    var ident_price = "price_";
    var ident_product = "product_";
    var ident_cant = "cant_";
    var dollarSymbol = "$";

}

<!--TO_DO: Por favor, avisarme la retroalimentacion respectiva y status de la oportunidad laboral :)-->
<div class="container">
    <form asp-action="SetFactura">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />

        <hr size="7px" style="color:#3a45cb">

        <div class="row">
            <div class=" from-group col-md-6">
                <div class="text-center">
                    <h1 class="display-3" style="color:#3a45cb"><b>Factura</b></h1>
                </div>
            </div>

            <div class=" from-group col-md-6">
                <label style="width: 49%;">Fecha: <input type="date" id="fechaActual" value="" class="form-control"> </label>
                <label style="width: 50%;">Vence: <input type="date" id="fechaActual2" value="" class="form-control"> </label>
                <label style="width: 100%;">Factura #</b> <input type="text" id="factCode" value="" class="form-control"></label>
            </div>

        </div>
        <hr size="7px" style="color:#3a45cb"><br />
        <div class="row">
            <div class=" from-group col-md-6">
                <label><b>Facturar a</b></label>
                <input asp-for="Nombre" type="text" value="Nombre Cliente" class="form-control">
                <span asp-validation-for="Nombre" class="text-danger"></span>

                <label></label>
                <input asp-for="Empresa" type="text" value="Nombre Empresa" class="form-control">
                <span asp-validation-for="Empresa" class="text-danger"></span>

                <label></label>
                <input asp-for="DirEmpresa" type="text" value="Dirección Empresa" class="form-control">
                <span asp-validation-for="DirEmpresa" class="text-danger"></span>

                <label></label>
                <input asp-for="TelEmpresa" type="text" value="Tel Empresa" class="form-control">
                <span asp-validation-for="TelEmpresa" class="text-danger"></span>
            </div>

            <div class=" form-group col-md-6">
                <label><b>Enviar a</b></label>
                <input asp-for="Nombre" type="text" value="Nombre Cliente" class="form-control">
                <span asp-validation-for="Nombre" class="text-danger"></span>

                <label></label>
                <input asp-for="Empresa" type="text" value="Nombre Empresa" class="form-control">
                <span asp-validation-for="Empresa" class="text-danger"></span>

                <label></label>
                <input asp-for="DirEmpresa" type="text" value="Dirección Empresa" class="form-control">
                <span asp-validation-for="DirEmpresa" class="text-danger"></span>

                <label></label>
                <input asp-for="TelEmpresa" type="text" value="Tel Empresa" class="form-control">
                <span asp-validation-for="TelEmpresa" class="text-danger"></span>

            </div>
        </div><br />
        <hr size="7px" style="color:#3a45cb"><br />
        <table class="table" id="tablaprueba">
            <thead>
                <tr>
                    <th>
                        Código
                    </th>
                    <th>
                        Descripción
                    </th>
                    <th>
                        Cant.
                    </th>
                    <th>
                        Precio
                    </th>
                    <th>
                        Total
                    </th>
                </tr>
            </thead>
            <tbody id="table-data">
                @for (var i = 0; i < total; i++)
                {
                    <tr>
                        <td>
                            <p>@ViewBag.FacturaDetalles[i].Id</p>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-md-12">
                                    <form>
                                        <div class="form-group">
                                            <select id=@ident_product@i name=" optionlist" class="form-control" onchange="selectProduct()">
                                                @*<option value="" disabled selected>Seleccione producto...</option>*@
                                                @foreach (var product in ViewBag.AllProducts)
                                                {
                                                    @if (@ViewBag.FacturaDetalles[i].IdProducto == product.Id)
                                                    {
                                                        <option value=@product.Precio selected>@product.Nombre</option>

                                                    }
                                                    @if (@ViewBag.FacturaDetalles[i].IdProducto != product.Id)
                                                    {
                                                        <option value=@product.Precio>@product.Nombre</option>
                                                    }

                                                }
                                            </select>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </td>
                        <td id=@ident_cant@i>
                            @ViewBag.FacturaDetalles[i].Cantidad
                        </td>
                        <td id=@ident_price@i>

                            @foreach (var product in ViewBag.AllProducts)
                            {
                                @if (@ViewBag.FacturaDetalles[i].IdProducto == product.Id)
                                {
                                    @dollarSymbol @product.Precio.ToString("#.##");

                                }
                            }
                        </td>
                        <td>
                            <p id=@i>$ 0</p>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <div class="form-group">
            <button type="button" class="btn btn-danger mr-2" onclick="agregarFila()">+ NUEVA FILA</button>
            <button type="button" class="btn btn-warning" onclick="eliminarFila()">- QUITAR FILA</button>
        </div>
        <br />
        <div class="row" style="margin-right: 15px;">
            <div class=" form-group col-md-6"></div>
            <div class=" form-group col-md-6" style="text-align: end;">
                <b>Total: </b> <label>$ </label> <label class="sizeLabelTextTotal" id="Total_end"> 0.00</label>
            </div>
        </div>
        <br />
        @*<div class="row">

                <div class="form-group">
                    <input type="submit" value="Facturar" class="btn btn-primary" />
                </div>
            </div>*@
        <br />
    </form>
</div>

<div class="text-center">
    <span>El monto de la factura no incluye el impuesto  sobre las ventas</span>
</div>

@section Scripts {
    <script type="text/javascript">

        //Al seleccionar un producto del comboBox

        function selectProduct() {

            var data = [];

            var rows = document.getElementById('table-data').rows;

            for (var i = 0; i < rows.length; i++) {
                data.push([rows[i].cells[2].innerHTML, rows[i].cells[3].innerHTML]);
            }

            var totalTemp = 0
            var totalEnd = 0

            for (var i = 0; i < data.length; i++) {
                totalTemp = 0
                var cleanStr = String(data[i]).replace(/ /g, "").split(',')
                var cant = parseInt(cleanStr[0].replace(/ /g, ""))

            }

            for (var i = 0; i < 100; i++) {


                //Precio item

                strId1 = "price_"+i.toString();

                //Total item

                var strId2 = i.toString();

                if (document.getElementById(strId1) !== null) {

                    var strId3 = "product_" + i.toString()

                    if (document.getElementById(strId3) !== null) {

                        var price = parseFloat(document.getElementById(strId3).value.replace(",", "."));

                        if (price.toString().split(".")[1].length === 1) {

                            document.getElementById(strId1).innerHTML = "$ " + parseFloat(price).toFixed(2).toLocaleString("en");
                        } else {

                            document.getElementById(strId1).innerHTML = "$ " + price.toLocaleString("en");
                        }


                        if (document.getElementById(strId2) !== null) {

                            var cleanStr = String(data[i]).replace(/ /g, "").split(',')
                            var cant = parseInt(cleanStr[0].replace(/ /g, ""))
                            var totalItem = cant * price

                            totalEnd += totalItem

                            if (!isNaN(totalItem)) { //Cifra no es NaN

                                if (!Number.isInteger(totalItem)) {//Cifra no es entero

                                    //Cifras exactas $ sin digitos de ctvs

                                    if (totalItem.toLocaleString("en").split(".")[1] === undefined) {
                                        document.getElementById(strId2).innerHTML = "$ " + totalItem.toLocaleString("en") + ".00";

                                    } else { //Cifras $ con digitos de ctvs

                                        //Cifras con 1 digito de ctv

                                        if (totalItem.toLocaleString("en").split(".")[1].length === 1) {
                                            document.getElementById(strId2).innerHTML = "$ " + totalItem.toLocaleString("en") + "0";

                                            //Cifras con 2 digitos de ctvs

                                        } else if (totalItem.toLocaleString("en").split(".")[1].length === 2) {
                                            document.getElementById(strId2).innerHTML = "$ " + totalItem.toLocaleString("en");
                                        }

                                    }

                                } else { //Cifra es entero

                                    //Tres cifras exactas $

                                    if (totalItem.toString().length == 3) {
                                        document.getElementById(strId2).innerHTML = "$ " + parseFloat(totalItem).toFixed(2).toLocaleString("en");
                                    }
                                    //Cuatro o mas cifras exactas $

                                    else if (totalItem.toString().length >= 4) {
                                        document.getElementById(strId2).innerHTML = "$ " + totalItem.toLocaleString("en") + ".00";
                                    }

                                }
                            }

                            

                        }

                    }

                }

            }

            if (!isNaN(totalEnd)) { //Cifra no es NaN

                if (!Number.isInteger(totalEnd)) {//Cifra no es entero

                    //Cifras exactas $ sin digitos de ctvs

                    if (totalEnd.toLocaleString("en").split(".")[1] === undefined) {
                        document.getElementById("Total_end").innerHTML = totalEnd.toLocaleString("en") + ".00";

                    } else { //Cifras $ con digitos de ctvs

                        //Cifras con 1 digito de ctv

                        if (totalEnd.toLocaleString("en").split(".")[1].length === 1) {
                            document.getElementById("Total_end").innerHTML = totalEnd.toLocaleString("en") + "0";

                            //Cifras con 2 digitos de ctvs

                        } else if (totalEnd.toLocaleString("en").split(".")[1].length === 2) {
                            document.getElementById("Total_end").innerHTML = totalEnd.toLocaleString("en");
                        }

                    }

                } else { //Cifra es entero

                    //Tres cifras exactas $

                    if (totalEnd.toString().length == 3) {
                        document.getElementById("Total_end").innerHTML = parseFloat(totalEnd).toFixed(2).toLocaleString("en");
                    }
                    //Cuatro o mas cifras exactas $

                    else if (totalEnd.toString().length >= 4) {
                        document.getElementById("Total_end").innerHTML = totalEnd.toLocaleString("en") + ".00";
                    }

                }
            }
           

        }

        //Agregar nueva fila a la tabla de detalle de factura

        const agregarFila = () => {
            const table = document.getElementById('tablaprueba')
            const rowCount = table.rows.length

            document.getElementById('tablaprueba').insertRow(-1).innerHTML += `
            <tr>
                <td id="newCode` + rowCount + `"><p>--</p></td>
            ` + `
                <td>
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="form-group">
                                    <select name="optionlist" id="newProduct` + rowCount + `" class="form-control" onchange="newCalc(` + rowCount + `)">
                                        <option value="" disabled selected>Seleccione producto...</option>
                                        @foreach (var product in ViewBag.AllProducts)
                                        {
                                            <option value=@product.Precio>@product.Nombre</option>
                                        }
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                </td>
                <td class="tdCantProduct"><input type="number" id="newCant` + rowCount + `" min="1" step="1" value=1 onchange="newCalcCant(` + rowCount + `)" class="form-control inputSelectCantProduct"></td>
                <td id="newPrice` + rowCount + `"><p>$ 0</p></td>
                <td><p id="totalNew` + rowCount + `">$ 0</p></td>

            </tr>
            `

            document.getElementById('newCode' + rowCount).innerHTML = Math.floor((Math.random() * 99) + 1) + rowCount.toString()
        }

        //Elimina un fila de la tabla de detalles de factura

        const eliminarFila = () => {
            const table = document.getElementById('tablaprueba')
            const rowCount = table.rows.length

            if (rowCount <= 1)
                alert('No se puede eliminar el encabezado')
            else

                if (document.getElementById('tablaprueba') != null) {
                    var rows = document.getElementById('tablaprueba').rows;

                    var price_delete_now = rows[rowCount - 1].cells[4].innerHTML

                    var price_delete_now2 = price_delete_now.split("$ ")[1]
                    var price_delete_now3 = price_delete_now2.split("<")[0].replace(',', '').replace(/[^0-9,.]*/, '').replace(',', '');

                    var new_total_end_now1 = document.getElementById("Total_end").innerHTML.replace(',', '').replace(/[^0-9,.]*/, '').replace(',', '');

                    var delete_sale = parseFloat(new_total_end_now1) - parseFloat(price_delete_now3)

                    if (delete_sale != 0) {
                        
                        if (!isNaN(delete_sale)) { //Cifra no es NaN

                            if (!Number.isInteger(delete_sale)) {//Cifra no es entero

                                //Cifras exactas $ sin digitos de ctvs

                                if (delete_sale.toLocaleString("en").split(".")[1] === undefined) {
                                    document.getElementById("Total_end").innerHTML = delete_sale.toLocaleString("en") + ".00";

                                } else { //Cifras $ con digitos de ctvs

                                    //Cifras con 1 digito de ctv

                                    if (delete_sale.toLocaleString("en").split(".")[1].length === 1) {
                                        document.getElementById("Total_end").innerHTML = delete_sale.toLocaleString("en") + "0";

                                        //Cifras con 2 digitos de ctvs

                                    } else if (delete_sale.toLocaleString("en").split(".")[1].length === 2) {
                                        document.getElementById("Total_end").innerHTML = delete_sale.toLocaleString("en");
                                    }

                                }

                            } else { //Cifra es entero

                                //Tres cifras exactas $

                                if (delete_sale.toString().length == 3) {
                                    document.getElementById("Total_end").innerHTML = parseFloat(delete_sale).toFixed(2).toLocaleString("en");
                                }
                                //Cuatro o mas cifras exactas $

                                else if (delete_sale.toString().length >= 4) {
                                    document.getElementById("Total_end").innerHTML = delete_sale.toLocaleString("en") + ".00";
                                }

                            }
                        }
                    } else {
                        document.getElementById("Total_end").innerHTML = parseFloat(delete_sale).toFixed(2).toLocaleString("en");
                    }

                    table.deleteRow(rowCount-1)
                }

        }

        //Inicializador de fechas y codigo de factura

        window.onload = function () {
            var fecha = new Date();
            var mes = fecha.getMonth() + 1;
            var dia = fecha.getDate();
            var ano = fecha.getFullYear();
            if (dia < 10)
                dia = '0' + dia;
            if (mes < 10)
                mes = '0' + mes

            var aleatorio_code = Math.round(Math.random() * 999999);
            document.getElementById('fechaActual').value = ano + "-" + mes + "-" + dia;
            document.getElementById('fechaActual2').value = ano + "-" + mes + "-" + dia;
            document.getElementById('factCode').value = aleatorio_code;

            //LOAD TOTAL

            var total_end_now = 0
            var rows = document.getElementById('tablaprueba').rows;

            for (var i = 1; i < rows.length; i++) {

                var cant_now_str = String(rows[i].cells[2].innerHTML).replace(/ /g, "")
                var cant_now = parseInt(cant_now_str)

                var price_update_now_str = String(rows[i].cells[3].innerHTML).replace(/ /g, "")
                var price_update_now = parseFloat(price_update_now_str.split("$")[1].replace(",", "."))
                var price_update_now_format = price_update_now.toLocaleString("en");
                if (price_update_now_format.split(".")[1].length === 1) {
                    document.getElementById("price_" + (i - 1)).innerHTML = "$ " + parseFloat(price_update_now_format).toFixed(2).toLocaleString("en");
                } else {
                    document.getElementById("price_" + (i - 1)).innerHTML = "$ " + price_update_now_format.toLocaleString("en");
                }


                var totalItem = cant_now * price_update_now


                var strId2 = (i-1).toString();

                if (document.getElementById(strId2) !== null) {

                    total_end_now += totalItem

                    if (!Number.isInteger(totalItem)) {//Cifra no es entero

                        if (!Number.isInteger(totalItem)) {//Cifra no es entero

                            //Cifras exactas $ sin digitos de ctvs

                            if (totalItem.toLocaleString("en").split(".")[1] === undefined) {

                                
                                document.getElementById(strId2).innerHTML = "$ " + totalItem.toLocaleString("en") + ".00";

                            } else { //Cifras $ con digitos de ctvs

                                //Cifras con 1 digito de ctv

                                if (totalItem.toLocaleString("en").split(".")[1].length === 1) {

                                    document.getElementById(strId2).innerHTML = "$ " + totalItem.toLocaleString("en") + "0";

                                 //Cifras con 2 digitos de ctvs

                                } else if (totalItem.toLocaleString("en").split(".")[1].length === 2) {
                                    
                                    document.getElementById(strId2).innerHTML = "$ " + totalItem.toLocaleString("en");
                                }
                            }

                        }else { //Cifra es entero
                           
                            //Tres cifras exactas $

                            if (totalItem.toString().length == 3) {
                               
                                document.getElementById(strId2).innerHTML = "$ " + parseFloat(totalItem).toFixed(2).toLocaleString("en");
                            }
                            //Cuatro o mas cifras exactas $

                            else if (totalItem.toString().length >= 4) {
                                
                                document.getElementById("Total_end").innerHTML = "$ " + totalItem.toLocaleString("en") + ".00";
                            }
                        }
                    }

                }

            }

            if (!isNaN(total_end_now)) { //Cifra no es NaN

                if (!Number.isInteger(total_end_now)) {//Cifra no es entero

                    //Cifras exactas $ sin digitos de ctvs

                    if (total_end_now.toLocaleString("en").split(".")[1] === undefined) {
                        document.getElementById("Total_end").innerHTML = total_end_now.toLocaleString("en") + ".00";

                    } else { //Cifras $ con digitos de ctvs

                        //Cifras con 1 digito de ctv

                        if (total_end_now.toLocaleString("en").split(".")[1].length === 1) {
                            document.getElementById("Total_end").innerHTML = total_end_now.toLocaleString("en") + "0";

                        //Cifras con 2 digitos de ctvs

                        } else if (total_end_now.toLocaleString("en").split(".")[1].length === 2) {
                            document.getElementById("Total_end").innerHTML = total_end_now.toLocaleString("en");
                        }

                   }

                } else { //Cifra es entero

                    //Tres cifras exactas $

                    if (total_end_now.toString().length == 3) {
                        document.getElementById("Total_end").innerHTML = parseFloat(total_end_now).toFixed(2).toLocaleString("en");
                    }
                    //Cuatro o mas cifras exactas $

                    else if (total_end_now.toString().length >= 4) {
                        document.getElementById("Total_end").innerHTML = total_end_now.toLocaleString("en") + ".00";
                    }

                }
            }

        }

        //Calculos al seleccionar un producto del comboBox de la nueva linea agregada

        function newCalc(rowNumber) {

            //NEW CANT

            var new_cant = document.getElementById("newCant" + rowNumber).value

            //NEW PRICE

            var new_price = document.getElementById("newProduct" + rowNumber).value.replace(",", ".");
            var new_price_format = parseFloat(document.getElementById("newProduct" + rowNumber).value.replace(",", "."));
            if (new_price_format.toString().split(".")[1].length === 1) {
                document.getElementById("newPrice" + rowNumber).innerHTML = "$ " + parseFloat(new_price_format).toFixed(2).toLocaleString("en");
            } else {
                document.getElementById("newPrice" + rowNumber).innerHTML = "$ " + new_price_format.toLocaleString("en");
            }
            

            //NEW TOTAL
            var new_total = parseInt(new_cant) * parseFloat(new_price)
           
            if (new_total.toString().split(".")[1].length === 1) {
                document.getElementById("totalNew" + rowNumber).innerHTML = "$ " + parseFloat(new_total).toFixed(2).toLocaleString("en");
            } else {
                document.getElementById("totalNew" + rowNumber).innerHTML = "$ " + new_total.toLocaleString("en");
            }


            //NEW TOTAL END

            var new_total_end = 0
            var rows = document.getElementById('tablaprueba').rows;
            for (var i = 1; i < rows.length; i++) {
                var price_update = rows[i].cells[4].innerHTML
                var price_update_format = price_update.replace(",", "")
                var price_update2 = price_update_format.split("$ ")[1]
                var price_update3 = price_update2.split("<")[0].replace(",", "")
                console.log('price_update3 --->', price_update3)
                new_total_end += parseFloat(price_update3)
            }

            if (!isNaN(new_total_end)) {
                document.getElementById("Total_end").innerHTML = parseFloat(new_total_end).toLocaleString("en");
            }


        }

        //Calculos cambiar la cantidad de productos requeridos en la nueva linea agregada

        function newCalcCant(rowNumber) {

            //NEW CANT NOW

            var new_cant_now = document.getElementById("newCant" + rowNumber).value

            //NEW PRICE NOW

            var new_price_now = document.getElementById("newProduct" + rowNumber).value.replace(",", ".");


            //NEW TOTAL NOW

            var new_total_now = parseInt(new_cant_now) * parseFloat(new_price_now)
            if (!isNaN(new_total_now)) { //Cifra no es NaN

                if (!Number.isInteger(new_total_now)) {//Cifra no es entero
          
                    //Cifras exactas $ sin digitos de ctvs

                    if (new_total_now.toLocaleString("en").split(".")[1] === undefined) {
                        document.getElementById("totalNew" + rowNumber).innerHTML = "$ " + new_total_now.toLocaleString("en") + ".00";

                    } else { //Cifras $ con digitos de ctvs

                        //Cifras con 1 digito de ctv

                        if (new_total_now.toLocaleString("en").split(".")[1].length === 1) {
                            document.getElementById("totalNew" + rowNumber).innerHTML = "$ " + new_total_now.toLocaleString("en") + "0";

                        //Cifras con 2 digitos de ctvs

                        } else if (new_total_now.toLocaleString("en").split(".")[1].length === 2) {
                            document.getElementById("totalNew" + rowNumber).innerHTML = "$ " + new_total_now.toLocaleString("en");
                        }

                    }

                } else { //Cifra es entero

                    //Tres cifras exactas $

                    if (new_total_now.toString().length == 3) {
                        document.getElementById("totalNew" + rowNumber).innerHTML = "$ " + parseFloat(new_total_now).toFixed(2).toLocaleString("en");
                    }
                    //Cuatro o mas cifras exactas $

                    else if (new_total_now.toString().length >= 4) {
                        document.getElementById("totalNew" + rowNumber).innerHTML = "$ " + new_total_now.toLocaleString("en") + ".00";
                    }
                    
                }
            }

            //NEW TOTAL END NOW

            var new_total_end_now = 0
            var rows = document.getElementById('tablaprueba').rows;
            for (var i = 1; i < rows.length ; i++) {
                var price_update_now = rows[i].cells[4].innerHTML
                var price_update_now_format = price_update_now.replace(",", "")
                var price_update_now2 = price_update_now_format.split("$ ")[1]
                var price_update_now3 = price_update_now2.split("<")[0].replace(",", "")
                new_total_end_now += parseFloat(price_update_now3)
            }

            if (!isNaN(new_total_end_now)) {
             
                if (!Number.isInteger(new_total_end_now)) {//Cifra no es entero

                    if (!Number.isInteger(new_total_end_now)) {//Cifra no es entero

                        //Cifras exactas $ sin digitos de ctvs

                        if (new_total_end_now.toLocaleString("en").split(".")[1] === undefined) {

                            document.getElementById("Total_end").innerHTML = new_total_end_now.toLocaleString("en") + ".00";

                        } else { //Cifras $ con digitos de ctvs

                            //Cifras con 1 digito de ctv

                            if (new_total_end_now.toLocaleString("en").split(".")[1].length === 1) {

                                document.getElementById("Total_end").innerHTML = new_total_end_now.toLocaleString("en") + "0";

                                //Cifras con 2 digitos de ctvs

                            } else if (new_total_end_now.toLocaleString("en").split(".")[1].length === 2) {

                                document.getElementById("Total_end").innerHTML = new_total_end_now.toLocaleString("en");
                            }
                        }

                    } else { //Cifra es entero

                        //Tres cifras exactas $

                        if (new_total_end_now.toString().length == 3) {

                            document.getElementById("Total_end").innerHTML = parseFloat(new_total_end_now).toFixed(2).toLocaleString("en");
                        }
                        //Cuatro o mas cifras exactas $

                        else if (new_total_end_now.toString().length >= 4) {

                            document.getElementById("Total_end").innerHTML = new_total_end_now.toLocaleString("en") + ".00";
                        }
                    }
                }
            }

        }

    </script>
}







